{# Set depth manual kalau belum ada #}
{% set depth = depth is defined ? depth : 1 %}
{% set mobile = mobile is defined ? mobile : false %}

{% if items %}
    <ul class="{% if mobile %}
            flex flex-col space-y-1 py-2
            {% elseif depth > 1 %}
            absolute left-0 top-full bg-white shadow-lg rounded py-2 w-48 z-50 space-y-1
            {% else %}
            flex gap-6 text-sm font-medium
            {% endif %}">
    
        {% for item in items %}
            {% set hasChildren = item.children|length > 0 %}
            {% set submenuId = 'submenu_' ~ item.id %}

            <li
                class="relative group"
                {% if hasChildren %}
                x-data="{ open: false }"
                @mouseenter="open = true"
                @mouseleave="open = false"
                {% endif %}
            >
                <div class="flex items-center justify-between px-4 {{ depth > 1 ? 'py-2' : 'py-5' }} {% if mobile %}hover:bg-green-50{% endif %}">
                    <a
                        href="{{ item.link }}"
                        target="{{ item.target }}"
                        class="block flex-1
                        {{ depth > 1 ? 'pb-0' : 'pb-1' }}
                        {% if mobile %}
                            text-zinc-700
                        {% elseif depth > 1 %}
                            text-green-800
                        {% else %}
                            text-white
                        {% endif %}
                        {% if item.current %} underline font-semibold {% endif %}"
                    >
                        {{ item.title }}
                    </a>

                        {% if mobile and hasChildren %}
                            <button
                            @click="submenuOpen['{{ submenuId }}'] = !submenuOpen['{{ submenuId }}']"
                            class="ml-2 text-zinc-600 hover:text-green-700"
                            aria-label="Toggle submenu"
                            >
                            <svg x-show="!submenuOpen['{{ submenuId }}']" xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                            </svg>
                            <svg x-show="submenuOpen['{{ submenuId }}']" xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 rotate-180" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                            </svg>
                            </button>
                        {% endif %}
                    </div>


                {% if hasChildren %}
                    {% if mobile %}
                        <div
                            x-show="submenuOpen['{{ submenuId }}']"
                            x-transition
                            class="ml-4 border-l border-green-200 pl-4 mt-1"
                            style="display: none;"
                        >
                            {% include "menu.twig" with { items: item.children, depth: depth + 1, mobile: mobile } %}
                        </div>
                    {% else %}
                        <div
                            x-show="open"
                            x-transition:enter="transition ease-out duration-200"
                            x-transition:enter-start="opacity-0 translate-y-2"
                            x-transition:enter-end="opacity-100 translate-y-0"
                            x-transition:leave="transition ease-in duration-100"
                            x-transition:leave-start="opacity-100 translate-y-0"
                            x-transition:leave-end="opacity-0 translate-y-2"
                            class="absolute left-0 w-48 z-50"
                            style="display: none;"
                        >
                            {% include "menu.twig" with {
                            items: item.children,
                            depth: depth + 1
                            } %}
                        </div>
                    {% endif %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}
