{% extends "base.twig" %}

{% block content %}
{# <h1 class="text-red-600">TEMPLATE: taxonomy-jenis_tanaman.twig</h1> #}
<section class="bg-green-50 py-16">
	<div class="max-w-6xl mx-auto px-4 text-center mb-10">
		<h1 class="text-3xl font-bold text-green-800">
			Jenis Tanaman: {{ term.name }}
		</h1>
		{% if term.description %}
			<p class="text-zinc-600 mt-2">{{ term.description }}</p>
		{% endif %}
	</div>

	<div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3 max-w-6xl mx-auto px-4">
		{% for post in posts %}
			<div class="bg-white rounded-xl overflow-hidden shadow-md hover:shadow-xl transition duration-300 transform-gpu hover:scale-[1.02] h-full flex flex-col">
				{% if post.thumbnail %}
					<img src="{{ post.thumbnail.src('medium') }}" alt="{{ post.title }}" class="w-full h-48 object-cover">
				{% endif %}

				<div class="p-5 flex flex-col justify-between flex-1">
					<div>
						<h3 class="text-lg font-bold text-green-800 mb-1">{{ post.title }}</h3>
						<p class="text-sm text-zinc-600 line-clamp-3 mb-3">
							{{ post.meta('deskripsi') }}
						</p>

						{% set terms = post.terms('jenis_tanaman') %}
						{% if terms %}
						<div class="flex flex-wrap gap-2 mt-2">
							{% for term in terms %}
								<a href="{{ term.link }}" class="bg-green-100 text-green-700 text-xs px-2 py-1 rounded hover:bg-green-200">
									{{ term.name }}
								</a>
							{% endfor %}
						</div>
						{% endif %}
					</div>

					<div class="mt-4">
						<a href="{{ post.link }}" class="inline-block text-green-600 hover:underline text-sm">Lihat Detail →</a>
					</div>
				</div>

			</div>
		{% endfor %}
	</div>

	
	{% set filter = fn('get_query_var', 'jenis') %}
	{% include 'partial/pagination.twig' with {
		pagination: posts.pagination,
		extra: filter ? { 'jenis': filter } : {}
	} %}
</section>
<script>
 	sessionStorage.setItem('tanaman_referrer', window.location.href);
</script>

{% endblock %}
